<div class='battle-form'>
  <%= form_for @picture, url: @url do |f| %>
    <div>
      <%= f.label '选择图片' %>
      <%= f.file_field :resource %>
    </div>
    <div>
      <%= f.label '排序' %>
      <select name="gallery_picture[sort_id]">
        <option value=''>无</option>
        <% @limit.times do |i| %>
          <option value='<%= i+1 %>'>首页第<%= i+1 %>张</option>
        <% end %>
      </select>
    </div>
    <%= f.submit '上传', class: 'btn' %>
  <% end %>
</div>
