<div class='battle-form'>
  <%= form_for @picture, url: request.path.split('/new').first do |f| %>
    <div>
      <%= f.label '选择图片' %>
      <%= f.file_field :resource, required: true %>
    </div>
    <div>
      <%= f.label '排序' %>
      <%= f.select :sort_id, options_for_select(options, @picture.sort_id), include_blank: "无排序" %>
    </div>
    <%= f.submit '上传', class: 'btn' %>
  <% end %>
</div>
