<div class="admin-pictures">
  <ul>
    <% @pictures.each do |picture| %>
      <li>
        <a href="<%= picture.resource.large.url %>" class="fancybox" rel="gallery1">
          <img src="<%= picture.resource.small.url %>" />
          <span class="thumb_overlay"></span>
        </a>
        <div style='font-size: 12px'>
          <% if picture.sort_id.present? %>
            当前图片是首页<%= @category %>第<%= picture.sort_id %>张
          <% else %>
            <span class='js-sort cursor-pointer' data-id='<%= picture.id %>'>置顶</span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div class="gallery-edit-wrap">
</div>

<script type="text/javascript">
  $(function() {
    $('.fancybox').fancybox();
    $(document).on('click', '.js-sort', editGallery);
    $(document).on('click', '#js-cancel', hideFloatwindow);
  });

  function editGallery() {
    $('.gallery-edit-wrap').html('<%= j render "admin/gallery/common/to_top" %>');
    $('#js-update-gallery').data('id', $(this).data('id'));
    $('.gallery-edit-wrap').show();
  }

  function hideFloatwindow() {
    $('.gallery-edit-wrap').hide();
    $('.gallery-edit-wrap').html("");
  }
</script>
