<li id="picture-<%= picture.id %>">
  <a href="<%= picture.resource.url %>" class="fancybox" rel="gallery1">
    <img src="<%= picture.resource.small.url %>" />
    <span class="thumb_overlay"></span>
  </a>
  <div class='picture-operation'>
    <span data-id='<%= picture.id %>'>
      <a href="javascript:void(0)" class='js-sort'><i class="fa fa-sort"></i></a>
      <a href="javascript:void(0)" class='js-delete-gallery'><i class="fa fa-trash"></i></a>
    </span>
    <span>
      <% if picture.sort_id.present? %>
        当前图片是首页<%= @category %>第<%= picture.sort_id %>张
      <% end %>
    </span>
  </div>
</li>
