<%= stylesheet_link_tag 'style' %>
<div class="login-page">
  <div class="panel">
    <a href="javascript:void(0)" class="panel-item margin-lt-36">注册</a>
  </div>
  <%= form_for @user, url: user_registration_path, html: {class: 'login-form'} do |f| %>
    <div class="form-item notice">
      <%= f.text_field :email, class: 'js-email width-260', required: true, placeholder: '邮箱' %>
      <mark></mark>
    </div>
    <div class="form-item notice">
      <%= f.password_field :password, class: 'js-pwd width-260', required: true, placeholder: '密码' %>
      <mark></mark>
    </div>
    <div class="form-item notice">
      <%= f.password_field :password_confirmation, class: 'js-pwd-confirmation width-260', required: true, placeholder: '确认密码' %>
      <mark></mark>
    </div>
    <div class="form-item">
      <%= f.submit '注册', class: 'btn btn-login width-260' %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function(){
    $(document).on('blur', '.js-email', valid_email);
    $(document).on('blur', '.js-pwd', valid_pwd);
    $(document).on('blur', '.js-pwd-confirmation', valid_pwd_confirmation);
  });

  function valid_email() {
    var email = $(this);
    if(email.val().trim().length == 0) {
      email.next().text('邮箱不能为空!');
    }
    else{
      $.get('/ajax/emails?email=' + email.val(), function(data) {
        email.next().text(data.notice);
      });
    }
  }

  function valid_pwd() {
    var pwd = $(this);
    if(pwd.val().trim().length == 0) {
      pwd.next().text('密码不能为空!');
    }
    else if(pwd.val().trim().length < 8) {
      pwd.next().text('密码长度不能小于8位!');
    }
    else {
      pwd.next().text('');
    }
  }

  function valid_pwd_confirmation() {
    if($(this).val() != $('.js-pwd').val()) {
      $(this).next().text('确认密码和密码不一致!');
    }
    else {
      $(this).next().text('');
    }
  }
</script>
