<div class="login-page">
  <div class="panel">
    <p class="panel-item margin-lt-36">注册</p>
  </div>
  <div class="tips" style="margin-bottom: 0px;text-align: left">
    <ul>
      <% (flash[:alert]||[]).each do |msg| %>
        <li class="alert"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <%= simple_form_for @user, url: user_registration_path do |f| %>
    <%= f.input :email, as: :string %>
    <%= f.input :username, required: false %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <div class="form-item float-left">
      <%= rucaptcha_input_tag(class: 'width-125 optional form-control', placeholder: '验证码') %>
    </div>
    <div class="form-item float-right" style="height: 40px">
      <%= rucaptcha_image_tag(alt: 'Captcha', class: 'captcha') %>
    </div>
    <div class="form-item">
      <%= f.submit '确认', class: 'btn btn-login width-260' %>
    </div>
  <% end %>

</div>
