<div class="login-page">
  <div class="panel">
    <a href="javascript:void(0)" class="panel-item margin-lt-36">注册</a>
  </div>
  <div class="tips" style="margin-bottom: 0px;text-align: left">
    <ul>
      <% (flash[:alert]||[]).each do |msg| %>
        <li class="alert"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <%= form_for @user, url: user_registration_path, html: {class: 'login-form'} do |f| %>
    <div class="form-item notice">
      <%= f.text_field :email, class: 'js-email width-260', placeholder: '邮箱' %>
    </div>
    <div class="form-item notice">
      <%= f.text_field :username, class: 'js-username width-260', placeholder: '昵称' %>
    </div>
    <div class="form-item notice">
      <%= f.password_field :password, class: 'js-pwd width-260', placeholder: '密码' %>
    </div>
    <div class="form-item notice">
      <%= f.password_field :password_confirmation, class: 'js-pwd-confirmation width-260', placeholder: '确认密码' %>
    </div>
    <div class="form-items">
      <div class="form-item float-left">
        <%= rucaptcha_input_tag(class: 'width-125', placeholder: '验证码') %>
      </div>
      <div class="form-item float-right" style="height: 40px">
        <%= rucaptcha_image_tag(alt: 'Captcha', class: 'captcha') %>
      </div>
    </div>
    <div class="form-item">
      <%= f.submit '确认', class: 'btn btn-login width-260' %>
    </div>
  <% end %>
</div>
