<div class="item" id='js-article-<%= article.id %>'>
  <div class="text">
    <span class="date">管理员发布于<%= article.created_at.strftime('%Y年%m月%d日 %H时%M分') %></span>
    <a href="/admin/articles/<%= article.id %>/edit" class='article-edit'><i class="fa fa-pencil"></i></a>
    <a href="javascript:void(0)" class='article-remove js-remove-article' data-id='<%= article.id %>'><i class="fa fa-trash"></i></a>
    <div>
      <%= link_to article.title, article_path(article), class: 'article-title' %>
    </div>
    <p class="operation">
      <%= render '/common/collect_info', resource: article %>
    </p>
  </div>
  <div class="img">
    <%= article.content[/\<img(.*?)\>/].try(:html_safe) %>
  </div>
</div>
