<%= form_for @article, url: url, html: {id: 'articleForm'} do |f| %>
  <div class="battle-form">
    <p>文章标题</p>
    <%= f.text_field :title %>
  </div>
  <p>文章内容</p>
  <%= f.text_area :content, id: 'js-article-content', style: 'display: none' %>
  <div id="editor">
    <%= @article.content.try :html_safe %>
  </div>
  <div class="battle-form" style='margin-top: 30px;'>
    <%= f.submit btn_name, class: 'cursor-pointer' %>
  </div>
<% end %>
<script type="text/javascript">
  $(function() {
    var editor = new wangEditor('editor');
    editor.config.uploadImgUrl = '/upload/pictures';
    editor.create();
  });
</script>
