<div class="guide-reading" style='margin-top: 56px;'>
  <div class="title">
    <h2>精选导读</h2>
    <div class="search">
      <%= form_tag(articles_path, method: :get) do %>
        <%= text_field_tag 'q[title_cont]', @search[:title], class: 'search-input' %>
        <a class="btn-search" href="javascript:void(0)" onClick="$(this).closest('form').submit()">
          <i class="fa fa-search"></i>
        </a>
      <% end %>
    </div>
  </div>
  <div class="items">
    <%= cache [:articles, @articles.maximum(:updated_at)] do %>
      <%= render @articles %>
    <% end %>
  </div>
</div>
<div class="paginate" style='margin-bottom: 56px;'>
  <%= will_paginate @articles, class: 'apple_pagination', previous_label: '上一页', next_label: '下一页' %>
</div>
