<div class="infos">
  <div class="title">
    <div class="text">
      <h2><%= @article.title %></h2>
      <a href="#" class="username">心有猛虎，细嗅蔷薇</a>
      <span class="date">发表于<%= @article.created_at.strftime('%Y-%m-%d') %></span>
    </div>
    <div class="operation">
      <%= render '/common/collect', resource: @article %>
    </div>
  </div>

  <div class="details">
    <%= @article.content.html_safe %>
  </div>

  <%= render '/common/comments/comments' %>

</div>
