<div class="login-page">
  <div class="panel">
    <p class="panel-item margin-lt-36">重置密码</p>
  </div>
  <%= simple_form_for "", url: user_password_path, method: :put do |f| %>
    <%= hidden_field_tag :id, @user.id %>
    <%= f.input :password, required: false, label: '新密码' %>
    <%= f.input :password_comfirmation, required: false, label: '确认密码' %>
    <div class="form-item">
      <%= submit_tag '确认', class: 'btn btn-login width-260' %>
    </div>
  <% end %>
</div>
