<div class="login-page">
  <div class="panel">
    <p class="panel-item margin-lt-36">重置密码</p>
  </div>
  <div class="tips" style="margin-bottom: 0px;text-align: center">
    <span class="alert"><%= flash[:alert] %></span>
  </div>
  <%= simple_form_for "", url: user_password_path do |f| %>
    <%= f.input :email, required: false, as: :string, label: '邮箱' %>
    <div class="form-item float-left">
      <%= rucaptcha_input_tag(class: 'width-125 optional form-control', placeholder: '验证码', required: true) %>
    </div>
    <div class="form-item float-right" style="height: 40px">
      <%= rucaptcha_image_tag(alt: 'Captcha', class: 'captcha') %>
    </div>
    <div class="form-item">
      <%= submit_tag '发送邮件', class: 'btn btn-login width-260' %>
    </div>
  <% end %>
</div>
