<fieldset class="title">
  <legend>
    忘记密码
  </legend>
</fieldset>
<div class="login">
  <%= form_for '', url: user_password_path do |f| %>
    <div class="pass-form-item  pass-form-email">
      <label class="form-label"><i class="fa fa-envelope"></i></label>
      <%= f.text_field :email, class: 'form-item', placeholder: '注册邮箱' %>
    </div>

    <div class="pass-form-item  pass-form-captcha">
      <%= rucaptcha_input_tag(class: 'form-captcha', placeholder: '验证码') %>
      <span class="captcha-img">
        <%= rucaptcha_image_tag(alt: 'Captcha') %>
        <a href="javascript:void(0)" class="tip captcha">看不清，换一张</a>
      </span>
    </div>
    <div class="pass-form-item pass-form-login">
      <%= f.submit '发送邮件', class: 'btn-login' %>
    </div>
  <% end %>
</div>
