<%= stylesheet_link_tag 'style' %>
<div class="login-page">
  <div class="tips">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "#{name.to_s}" %>
    <% end %>
  </div>
  <div class="panel">
    <a href="javascript:void(0)" class="panel-item">重置密码</a>
  </div>
  <%= form_tag user_password_path, class: 'login-form' do %>
    <div class="form-item notice">
      <%= text_field_tag :email, nil, placeholder: '填写要重置密码的邮箱!', class: 'width-260', required: true %>
      <mark></mark>
    </div>
    <div class="form-item">
      <%= submit_tag '发送邮件', class: 'btn btn-login width-260' %>
    </div>
  <% end %>
</div>
