<div class="other-user">
  <img src="<%= comment.user.avatar.url %>" alt="">
  <div class="other-comment">
    <div class="arrow">
      <em></em>
      <span></span>
    </div>
    <div class="user-title">
      <b><%= comment.user.username %></b>
      <span>
        <i class="fa fa-clock-o"></i>
        <b><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></b>
      </span>
    </div>
    <p class='comment-content'><%= comment.content %></p>
    <div class="reply">
      <% if current_user.try(:admin?) %>
        <a href="javascript:void(0)" class='js-delete-comment' data-id='<%= comment.id %>'>删除</a>
      <% end %>
    </div>
  </div>
</div>
