<div class="item">
  <img src="<%= comment.user.avatar.url %>" alt="">
  <div class="user-comment">
    <div class="arrow">
      <em></em>
      <span></span>
    </div>
    <div class="user-title">
      <b><%= comment.user.username %></b>
      <span>
        <i class="fa fa-clock-o"></i>
        <b><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></b>
      </span>
    </div>
    <p class='comment-content'><%= comment.content %></p>

    <%= render '/common/comments/child_comments', comment: comment %>

    <div class="reply">
      <a href="javascript:void(0)" data-id='<%= comment.id %>' class='js-edit-reply'>回复</a>
      <a href="javascript:void(0)" style='display: none' class='js-cancel-reply'>取消</a>
      <% if current_user.try(:admin?) %>
        <a href="javascript:void(0)" class='js-delete-comment' data-id='<%= comment.id %>'>删除</a>
      <% end %>
    </div>

  </div>
</div>
<div class="reply-wrap"></div>
