<% @resource = @video || @article %>
<div class="comment">
  <div class="comment-title">
    <h2>所有评论<span class="count">(<%= @resource.comment_quantity %>)</span></h2>
  </div>

  <div class="items">
    <% @resource.parent_comments.each do |comment| %>
      <%= render '/common/comments/comment', comment: comment %>
    <% end %>
  </div>

  <%= render '/common/comments/publish' %>

</div>
<script type="text/javascript">
  $(function() {
    $('.comment-content').each(parseEmoji);
    load_emoji();
    $(document).on('click', '.reply .js-edit-reply', editReply);
    $(document).on('click', '.reply .js-delete-comment', deleteReply);
    $(document).on('click', '#js-cancel-reply', cancelReply);
    $(document).on('click', '#js-publish, #js-reply', comment);
  });

  function parseEmoji() {
    $(this).replaceface($(this).html());
  }

  function load_emoji() {
    $("a.face").smohanfacebox({
      Event : "click",
      divid : "Smohan_FaceBox",
      textid : "Smohan_text"
    });
  }

  function editReply() {
    $('.reply-wrap').html('');
    $(this).parents('.item').next().html('<%= j render "/common/comments/reply" %>');
    $('#parent_id').val($(this).data('id'));
  }

  function cancelReply() {
    $(this).parents('.reply-box').hide();
  }

  function deleteReply() {
    var self = $(this);
    swal({
     title: "删除该评论(同时删除子评论)？",
     type: "warning",
     showCancelButton: true,
     closeOnConfirm: false,
     confirmButtonText: "是的，强行删除",
     confirmButtonColor: "#ec6c62"
     }, function() {
       $.ajax({
         url: "/ajax/comments/"+ self.data('id'),
         type: "DELETE",
         dataType: 'script',
         success: function(){}
       });
     });
  }

  function comment() {
    if(<%= current_user.present? %>)
      $(this).closest('form').submit();
    else
      swal("评论失败!", "请登录后评论!", "warning");
  }
</script>
