<% @resource = @video || @article %>
<div class="comment">
  <div class="comment-title">
    <h2>所有评论<span class="count">(<%= @resource.comment_quantity %>)</span></h2>
  </div>

  <div class="items">
    <%= render partial: '/common/comments/comment', collection: @resource.parent_comments, as: :comment %>
  </div>

  <%= render '/common/comments/publish' %>

</div>
<script type="text/javascript">
  $(function() {
    $('.comment-content').each(parseEmoji);
    $(document).on('click', 'a.face', showEmoji);
    $(document).on('click', '.SmohanFaceBox h3 a.close', closeEmoji);
    $(document).on('mouseleave', '.SmohanFaceBox', closeEmoji);
    $(document).on('click', '.SmohanFaceBox li img', insertEmoji);
    $(document).on('click', '.reply .js-edit-reply', editReply);
    $(document).on('click', '.reply .js-delete-comment', deleteReply);
    $(document).on('click', '#js-cancel-reply', cancelReply);
    $(document).on('click', '#js-publish, #js-reply', comment);
  });

  function parseEmoji() {
    var html = $(this).html();
    $(this).html(html.replace(/&lt;emt&gt;(\d{1,2})&lt;\/emt&gt;/g, '<img src="/images/emoji/$1.gif">'));
  }

  function showEmoji() {
    var emoji = '';
	  for(i=1; i<=60; i++)
		    emoji += '<li><a href="javascript:void(0)"><img src="/images/emoji/'+i+'.gif" data-face="<emt>'+i+'</emt>"/></a></li>';
    $(this).parents('.common-box').prepend("<div class='SmohanFaceBox'><span class='Corner'></span><div class='Content'><h3><span>常用表情</span><a class='close' title='关闭'></a></h3><ul>"+emoji+"</ul></div></div>")
  }

  function closeEmoji() {
    $(this).parents('.common-box').children('div:first').remove();
  }

  function insertEmoji() {
    $(this).parents('.common-box').find('textarea').insertContent($(this).data("face"));
  }

  function editReply() {
    $('.reply-wrap').html('');
    $(this).parents('.item').next().html('<%= j render "/common/comments/reply" %>');
    $('#parent_id').val($(this).data('id'));
  }

  function cancelReply() {
    $(this).parents('.reply-box').hide();
  }

  function deleteReply() {
    var self = $(this);
    swal({
     title: "删除该评论(同时删除子评论)？",
     type: "warning",
     showCancelButton: true,
     closeOnConfirm: false,
     confirmButtonText: "是的，强行删除",
     confirmButtonColor: "#ec6c62"
     }, function() {
       $.ajax({
         url: "/ajax/comments/"+ self.data('id'),
         type: "DELETE",
         dataType: 'script',
         success: function(){}
       });
     });
  }

  function comment() {
    if(<%= current_user.present? %>)
      $(this).closest('form').submit();
    else
      swal("评论失败!", "请登录后评论!", "warning");
  }
</script>
