<% @resource = @video || @article %>
<div class="comment">
  <div class="comment-title">
    <h2>所有评论<span class="count">(<%= @resource.comment_quantity %>)</span></h2>
  </div>

  <div class="items">
    <%= render partial: '/common/comments/comment', collection: @resource.parent_comments.normal, as: :comment %>
  </div>

  <%= render '/common/comments/publish' %>

</div>
<script type="text/javascript">
  $(function() {
    $(document).on('click', '.reply .js-edit-reply', editReply);
    $(document).on('click', '#js-cancel-reply', cancelReply);
    $(document).on('click', '#js-publish, #js-reply', comment);
  });

  function editReply() {
    $('.reply-wrap').html('');
    $(this).parents('.item').next().html('<%= j render "/common/comments/reply" %>');
    $('#parent_id').val($(this).data('id'));
  }

  function cancelReply() {
    $(this).parents('.reply-box').hide();
  }

  function comment() {
    if(<%= current_user.present? %>)
      $(this).closest('form').submit();
    else
      swal("评论失败!", "请登录后评论!", "warning");
  }
</script>
