<% @resource = @video || @article %>
<div class="comment">
  <div class="comment-title">
    <h2>所有评论<span class="count">(<%= @resource.comment_quantity %>)</span></h2>
  </div>

  <div class="items">
    <% @resource.parent_comments.each do |comment| %>
      <%= render '/common/comments/comment', comment: comment %>
    <% end %>
  </div>

  <%= render '/common/comments/publish' %>

</div>
<script type="text/javascript">
  $(function() {
    $(document).on('click', '.reply a:first-child', editReply);
    $(document).on('click', '.reply a:last-child', cancelReply);
    $(document).on('click', '#js-publish, #js-reply', comment);
  });

  function editReply() {
    $(this).parents('.item').next().html('<%= j render "/common/comments/reply" %>');
    $('#parent_id').val($(this).data('id'));
    $(this).hide();
    $(this).next().show();
  }

  function cancelReply() {
    $(this).parents('.item').next().html('');
    $(this).hide();
    $(this).prev().show();
  }

  function comment() {
    if(<%= current_user.present? %>)
      $(this).closest('form').submit();
    else
      swal("评论失败!", "请登录后评论!", "warning");
  }
</script>
