<script type="text/javascript">
  $(function() {
    $('#js-search-videos').on('click', function() {
      $(this).closest('form').submit();
    });
  })
</script>
<div class="content">
  <div class="video-list">
    <div class="title">
      <h2><%= category %></h2>
      <div class="search">
        <%= form_tag(send("#{action_name}_videos_path"), method: :get) do %>
          <%= text_field_tag 'q[description_cont]', @search %>
          <a id='js-search-videos' class="btn-search" href="javascript:void(0)">
            <i class="fa fa-search"></i>
          </a>
        <% end %>
      </div>
    </div>

    <div class="video-items">
      <% videos.each do |video| %>
        <div class="video-item">
          <div class="item">
            <%= image_tag(video.image, class: 'item') %>
            <span class="thumb_overlay fa fa-play-circle-o"></span>
            <h3 class="title"><%= video.description %></h3>
          </div>
          <div class="fns">
            <a href="javascript:void(0)" class="fn-follow">
              <i class="fa fa-heart"></i>
              <span>300</span>
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-comment"></i>
              <span>300</span>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
