<div class="infos">
  <div class="title">
    <div class="text">
      <h2><%= @video.description %></h2>
      <a href="#" class="username">心有猛虎，细嗅蔷薇</a>
      <span class="date">发表于<%= @video.created_at.strftime('%Y-%m-%d') %></span>
    </div>
    <div class="operation">
      <%= render '/videos/video_info', video: @video %>
    </div>
  </div>

  <div class="video">
    <embed src="<%= @video.url %>" width="900" height="500">
    </embed>
  </div>

  <%= render '/videos/comments/comments' %>

</div>
<script type="text/javascript">
  $(function() {
    $('.js-collect').on('click', collectVideo);
  });

  function collectVideo() {
    if(<%= current_user.present? %>)
      $.post('/ajax/videos/'+$(this).data('id')+'/collections', function(){});
    else
      swal("收藏失败!", "请登录后收藏!", "error");
  }
</script>
