<div class="infos">
  <div class="title">
    <div class="text">
      <h2><%= @video.description %></h2>
      <a href="#" class="username">心有猛虎，细嗅蔷薇</a>
      <span class="date">发表于<%= @video.created_at.strftime('%Y-%m-%d') %></span>
    </div>
    <div class="operation">
      <i class="fa fa-heart<%= '-o' if !current_user.has_video?(@video.id) %>" id='js-like' data-id='<%= @video.id %>' >收藏(<%= @video.user_quantity %>)</i>
      <i class="fa fa-comment">评论(<%= @video.comments_quantity %>)</i>
    </div>
  </div>

  <div class="video">
    <embed src="<%= @video.url %>" width="900" height="500">
    </embed>
  </div>

  <%= render '/videos/comments/comments' %>

</div>
<script type="text/javascript">
  $(function() {
    $('#js-like').on('click', addLike);
  });

  function addLike() {
    $.ajax({
      type: 'POST',
      url: '/ajax/videos/'+$(this).data('id')+'/likes',
      success: function(){}
    });
  }
</script>
