<div class="battle-form">
  <%= form_for @battle_plane, url: url do |f| %>
    <div>
      <%= f.label '战机名称' %>
      <%= f.text_field :title, autoComplete: 'off', required: true %>
    </div>
    <div>
      <%= f.label '战机简介' %>
      <%= f.text_area :content, autoComplete: 'off', required: true %>
    </div>
    <div>
      <%= f.label '排序' %>
      <%= f.select :sort_id, options_for_select(options, @battle_plane.sort_id), include_blank: '无排序' %>
    </div>
    <%= f.submit btn_name, class: 'btn' %>
  <% end %>
</div>
