<div class="battle-planes">
  <ul>
    <% @planes.each do |plane| %>
      <li id='battleplane-<%= plane.id %>' data-id='<%= plane.id %>'>
        <h2><%= plane.title %></h2>
        <i class="fa fa-pencil"></i>
        <p><%= plane.content %></p>
        <% if plane.sort_id.present? %>
          <span>当前战机简介是首页第<%= plane.sort_id %>篇</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div id='operate-wrap'>
</div>
<input type="hidden" id='battleplane-id'>

<script type="text/javascript">
  $(function() {
    $(document).on('click', '#js-cancel', cancelOperate);
    $(document).on('click', '#js-edit', editBattlePlane);
    $(document).on('click', '#js-update', updateBattlePlane);
    $(document).on('click', '#js-edit-order', editBattlePlaneOrder);
    $(document).on('click', '#js-sort', sortBattlePlane);
    $('.battle-planes ul li i').on('click', showOperations);
  });

  function showOperations() {
    $('#operate-wrap').html('<%= j render "operations" %>');
    $('#battleplane-id').val($(this).parent().data('id'));
  }

  function cancelOperate() {
    $('#operate-wrap').html('');
  }

  function editBattlePlane() {
    $('#operate-wrap').html('<%= j render "edit" %>');
    var battleplaneLi = $('#battleplane-'+$('#battleplane-id').val());
    $('#js-title').val(battleplaneLi.find('h2').html());
    $('#js-content').val(battleplaneLi.find('p').html());
  }

  function updateBattlePlane() {
    $('#battleplaneForm').attr('action', '/ajax/battle_planes/'+ $('#battleplane-id').val()).submit();
  }

  function editBattlePlaneOrder() {
    $('#operate-wrap').html('<%= j render "sort" %>');
  }

  function sortBattlePlane() {
    $('#sortForm').attr('action', '/admin/battle_planes/'+$('#battleplane-id').val()+'/sort').submit();
  }
</script>
