<div class="battle-form-wrap">
  <h2>新建战机</h2>
  <%= form_for @plane, url: admin_battle_planes_path do |f| %>
    <div>
      战机名称:
      <%= f.text_field :title %>
    </div>
    <div>
      战机简介:
      <%= f.text_area :content %>
    </div>
    <div>
      置顶位置:
      <select name="battle_plane[sort_id]">
        <option value="">无</option>
        <% @limit.times do |i| %>
          <option value='<%= i+1 %>'>首页第<%= i+1 %>篇</option>
        <% end %>
      </select>
    </div>
    <%= f.submit '新建', class: 'btn' %>
  <% end %>

</div>
