<div class="picture">
  <h2>精彩图片</h2>
  <ul class="picture_nav">
    <li class="active">固定翼</li>
    <li>滑翔机</li>
    <li>直升机</li>
    <li>穿越机</li>
  </ul>

  <div class="img">
    <ul>
      <li>
        <a href="/images/top-0.jpg" class="fancybox thumb" rel="gallery1">
          <%= image_tag 'nav.jpg', class: 'circle' %>
          <span class="thumb_overlay"></span>
        </a>
      </li>
      <li>
        <a href="/images/top-0.jpg" class="fancybox thumb" rel="gallery1">
          <%= image_tag 'nav.jpg', class: 'circle' %>
          <span class="thumb_overlay"></span>
        </a>
      </li>
      <li>
        <a href="/images/top-0.jpg" class="fancybox thumb" rel="gallery1">
          <%= image_tag 'nav.jpg', class: 'circle' %>
          <span class="thumb_overlay"></span>
        </a>
      </li>
      <li>
        <a href="/images/top-0.jpg" class="fancybox thumb" rel="gallery1">
          <%= image_tag 'nav.jpg', class: 'circle' %>
          <span class="thumb_overlay"></span>
        </a>
      </li>
      <li>
        <a href="/images/top-0.jpg" class="fancybox thumb" rel="gallery1">
          <%= image_tag 'nav.jpg', class: 'circle' %>
          <span class="thumb_overlay"></span>
        </a>
      </li>
      <li>
        <a href="/images/top-0.jpg" class="fancybox thumb" rel="gallery1">
          <%= image_tag 'nav.jpg', class: 'circle' %>
          <span class="thumb_overlay"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
