<div class="picture">
  <h2>精彩图片</h2>
  <div>
    <ul class="picture_nav">
      <li class="active">固定翼</li>
      <li>滑翔机</li>
      <li>直升机</li>
      <li>穿越机</li>
    </ul>
  </div>

  <div class="img">
    <ul>
      <%= render partial: 'picture', collection: @fixed_wings, as: :picture %>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.picture_nav li').on('click', showPictures);
  });

  function showPictures() {
    $('.picture_nav li').removeClass('active');
    $(this).addClass('active');
    switch ($(this).html()) {
      case '固定翼':
        $('.picture .img ul').html('<%= j render partial: "picture", collection: @fixed_wings, as: :picture %>');
        break;
      case '滑翔机':
        $('.picture .img ul').html('<%= j render partial: "picture", collection: @gliders, as: :picture %>');
        break;
      case '直升机':
        $('.picture .img ul').html('<%= j render partial: "picture", collection: @helicopters, as: :picture %>');
        break;
      case '穿越机':
        $('.picture .img ul').html('<%= j render partial: "picture", collection: @fpvs, as: :picture %>');
        break;
    }

  }
</script>
