<%= stylesheet_link_tag 'style' %>
<div class="login-page">
  <div class="tips">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "#{name.to_s}" %>
    <% end %>
  </div>
  <%= form_tag user_session_path, method: 'post', class: 'login-form' do %>
    <div class="form-item notice">
      <%= text_field_tag :email, nil, placeholder: '邮箱', class: 'width-260', required: true %>
      <%= link_to 'X', 'javascript:void(0)', class: 'delete warning' %>
    </div>
    <div class="form-item">
      <%= password_field_tag :password, nil, placeholder: '密码', class: 'width-260', required: true %>
      <%= link_to 'X', 'javascript:void(0)', class: 'delete warning' %>
    </div>
    <div class="form-item">
      <%= submit_tag '登录', class: 'btn btn-login width-260' %>
    </div>
  <% end %>
  <div class="btn-group">
    <%= link_to '注册', new_user_registration_path, class: 'forget-code' %>
    <%= link_to '忘记密码', new_user_password_path, class: 'forget-code' %>
  </div>
</div>
<script type="text/javascript">
  function empty_input() {
    $(this).prev().val('');
  }

  $(function(){
    $(document).on('click', '.delete', empty_input);
  });
</script>
