<div class="user-search">
  <div class="user-count">
    用户总数: <%= @user_quantity %>
  </div>
  <div class="videos-search">
    <%= form_tag(admin_users_path, method: :get) do %>
      <span>
        用户名:
        <%= text_field_tag 'q[username_cont]', @search[:username], autoComplete: 'off', class: 'search-input' %>
      </span>
      <span>
        注册邮箱:
        <%= text_field_tag 'q[email_cont]', @search[:email], autoComplete: 'off', class: 'search-input' %>
      </span>
      <span>
        注册日期:
        <%= date_field_tag 'q[created_at_gteq]', @search[:start_time] %>
        ~
        <%= date_field_tag 'q[created_at_lteq]', @search[:end_time] %>
      </span>
      <a href="javascript:void(0)">
        <%= submit_tag '搜索', class: 'btn' %>
      </a>
    <% end %>
  </div>
</div>

<%= render 'users' %>

<div class='paginate'>
  <%= will_paginate @users, class: 'apple_pagination', previous_label: '上一页', next_label: '下一页' %>
</div>

<script type="text/javascript">
  $(function() {
    $(document).on('click', '.js-limit-opts', showLimitOptions);
  });

  function showLimitOptions() {
    insertFloatWindow("<%= j render 'limit' %>");
    $('#limitForm').prev().html('对'+ $(this).parent().siblings().eq(1).html() +'进行封号处理');
    $('#limitForm').data('id', $(this).parents('tr').data('id'));
  }
</script>
