<div class="user-search">
  <div class="user-count">
    用户总数: <%= @user_quantity %>
  </div>
  <div class="guide-reading">
    <div class="search">
      <%= form_tag(admin_users_path, method: :get) do %>
        <%= text_field_tag 'q[username_cont]', @username, class: 'search-input' %>
        <a class="btn-search" href="javascript:void(0)" onClick="$(this).closest('form').submit()">
          <i class="fa fa-search"></i>
        </a>
      <% end %>
    </div>
  </div>
</div>

<%= render 'users' %>

<div class='paginate'>
  <%= will_paginate @users %>
</div>

<script type="text/javascript">
  $(function() {
    $(document).on('click', '.js-limit-opts', showLimitOptions);
  });

  function showLimitOptions() {
    insertFloatWindow("<%= j render 'limit' %>");
    $('#limitForm').prev().html('对'+ $(this).parent().siblings().eq(1).html() +'进行封号处理');
    $('#limitForm').data('id', $(this).parents('tr').data('id'));
  }
</script>
