<div>
  <%= f.label :url, '视频地址' %>
  <%= f.text_field :url %>
</div>
<div>
  <%= f.label :title, '视频描述' %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :image, '视频封面' %>
  <%= f.file_field :image %>
</div>
<div>
  <%= f.label :category, '视频分类' %>
  <%= f.select :category, options_for_select(@categories, @video.category), {} %>
</div>
