<div class="video-item" id='js-video-<%= video.id %>'>
  <div class="item">
    <a href="/videos/<%= video.id %>">
      <img src="<%= video.image.normal.url %>" class='item' />
      <span class="thumb_overlay fa fa-play-circle-o"></span>
    </a>
    <h3 class="title">
      <a href="/videos/<%= video.id %>"><%= video.title %></a>
    </h3>
  </div>
  <div class="video-edit">
    <span data-id='<%= video.id %>'>
      <a href="/admin/videos/<%= video.id %>/edit"><i class="fa fa-pencil"></i></a>
      <% if !video.homepage? %>
        <a href="javascript:void(0)" class='js-set-homepage'><i class="fa fa-thumbs-up"></i></a>
      <% end %>
      <a href="javascript:void(0)" class='js-delete-video'><i class="fa fa-trash"></i></a>
    </span>
    <span class='js-homepage-info'>
      <%= '今日视频' if video.homepage? %>
    </span>
  </div>
</div>
