<div class="video-item">
  <div class="item" id='js-video-<%= video.id %>'>
    <input type="hidden" value="<%= video.url %>">
    <a href="/videos/<%= video.id %>">
      <img src="<%= video.image.normal.url %>" class='item' />
      <span class="thumb_overlay fa fa-play-circle-o"></span>
    </a>
    <h3 class="title">
      <a href="/videos/<%= video.id %>"><%= video.description %></a>
    </h3>
  </div>
  <div class="video-edit">
    <span>
      <a href="javascript:void(0)" class='js-show-operations' data-id='<%= video.id %>'>
        <i class="fa fa-pencil"></i>
      </a>
      <a href="javascript:void(0)" class='video-remove js-delete' data-id='<%= video.id %>'>
        <i class="fa fa-remove"></i>
      </a>
    </span>
    <%= '今日视频' if video.homepage? %>
  </div>
</div>
