<div class="videos-search">
  <%= form_tag(admin_videos_path, method: :get) do %>
    <span>
      视频类别:
      <%= select_tag 'q[category_eq]', options_for_select(Video::ID_CATEGORIES.invert.to_a, @search[:category]), include_blank: '全部' %>
    </span>
    <span>
      视频标题:
      <%= text_field_tag 'q[title_cont]', @search[:title], autoComplete: 'off' %>
    </span>
    <span>
      今日视频: <%= check_box_tag 'q[is_homepage_true]', 'true', @search[:homepage] %>
    </span>
    <a href="javascript:void(0)">
      <%= submit_tag '搜索', class: 'btn file' %>
    </a>
  <% end %>
</div>

<div class="admin-video-items">
  <%= render @videos %>
</div>
