<div class="page-nav">
  <ul>
    <li>后台管理</li>
    <li><i class="fa fa-angle-right"></i></li>
    <li>视频操作</li>
  </ul>
</div>

<div class="videos-search">
  视频类别:
  <%= form_tag(admin_videos_path, method: :get) do %>
    <%= select_tag 'q[category_eq]', options_for_select(@categories, @search[:category]), include_blank: '全部' %>
    <%= text_field_tag 'q[description_cont]', @search[:description] %>
    <%= submit_tag '搜索', class: 'cursor-pointer' %>
  <% end %>
</div>

<div class="video-items margin-left-20">
  <% @videos.each do |video| %>
    <div class="video-item">
      <div class="item" id='js-video-<%= video.id %>'>
        <input type="hidden" value="<%= video.url %>">
        <a href="/videos/<%= video.id %>">
          <img src="<%= video.image.normal.url %>" class='item' />
          <span class="thumb_overlay fa fa-play-circle-o"></span>
        </a>
        <h3 class="title"><%= video.description %></h3>
      </div>
      <div class="fns">
        <i class="fa fa-pencil js-show-operations" data-id='<%= video.id %>'></i>
        <%= '今日视频' if video.homepage? %>
      </div>
    </div>
  <% end %>
</div>
<input type="hidden" id='video-id'>
<div id='operate-wrap'></div>

<script type="text/javascript">
  $(function() {
    $(document).on('click', '.js-show-operations', showOperations);
    $(document).on('click', '#js-edit', editVideo);
    $(document).on('click', '#js-delete', deleteVideo);
    $(document).on('click', '#js-set-homepage', setHomepage);
    $(document).on('click', '#js-update', updateVideo)
    $(document).on('click', '#js-cancel', hideOperations);
  });

  function showOperations() {
    $('#operate-wrap').html('<%= j render "operations" %>');
    $('#video-id').val($(this).data('id'));
  }

  function editVideo() {
    var videoId = $('#video-id').val();
    $('#operate-wrap').html('<%= j render "edit" %>');
    $('#js-video-url').val($('#js-video-'+videoId).find('input').val());
    $('#js-video-description').val($('#js-video-'+videoId).find('h3').html());
  }

  function deleteVideo() {
    hideOperations();
    swal({
     title: "您确定要删除吗？",
     type: "warning",
     showCancelButton: true,
     closeOnConfirm: false,
     confirmButtonText: "是的，强行删除",
     confirmButtonColor: "#ec6c62"
     }, function() {
       $.ajax({
         url: "/ajax/videos/"+ $('#video-id').val(),
         type: "DELETE",
         dataType: 'script',
         function(){}
       })
     });
  }

  function setHomepage() {
    hideOperations();
    swal({
     title: "设置为今日视频？",
     type: "warning",
     showCancelButton: true,
     closeOnConfirm: false,
     confirmButtonText: "是的",
     confirmButtonColor: "#ec6c62"
     }, function() {
       $.ajax({
         url: "/ajax/videos/"+ $('#video-id').val(),
         type: "PUT",
         dataType: 'script',
         function(){}
       })
     });
  }

  function updateVideo() {
    $('#videoForm').attr('action', '/admin/videos/'+ $('#video-id').val()).submit();
  }

  function hideOperations() {
    $('#operate-wrap').html("");
  }
</script>
