<div class="videos-search">
  <%= form_tag(admin_videos_path, method: :get) do %>
    <div>
      视频类别:
      <%= select_tag 'q[category_eq]', options_for_select(@categories, @search[:category]), include_blank: '全部' %>
    </div>
    <div>
      视频描述: <%= text_field_tag 'q[description_cont]', @search[:description] %>
    </div>
    <div>
      今日视频: <%= check_box_tag 'q[is_homepage_true]', 'true', @search[:homepage] %>
    </div>
    <%= submit_tag '搜索', class: 'btn' %>
  <% end %>
</div>

<div class="video-items">
  <% @videos.each do |video| %>
    <%= render 'video', video: video %>
  <% end %>
</div>
<input type="hidden" id='video-id'>
<div id='operate-wrap'></div>

<script type="text/javascript">
  $(function() {
    $(document).on('click', '.js-show-operations', showOperations);
    $(document).on('click', '.js-edit', editVideo);
    $(document).on('click', '.js-delete', deleteVideo);
    $(document).on('click', '#js-set-homepage', setHomepage);
    $(document).on('click', '#js-cancel', hideOperations);
  });

  function showOperations() {
    $('#operate-wrap').html('<%= j render "operations" %>');
    $('#video-id').val($(this).data('id'));
  }

  function editVideo() {
    window.location.href = '/admin/videos/'+$('#video-id').val()+'/edit';
  }

  function deleteVideo() {
    var self = $(this);
    hideOperations();
    swal({
     title: "您确定要删除吗？",
     type: "warning",
     showCancelButton: true,
     closeOnConfirm: false,
     confirmButtonText: "是的，强行删除",
     confirmButtonColor: "#ec6c62"
     }, function() {
       $.ajax({
         url: "/ajax/videos/"+ self.data('id'),
         type: "DELETE",
         dataType: 'script',
         success: function(){}
       })
     });
  }

  function setHomepage() {
    hideOperations();
    swal({
     title: "设置为今日视频？",
     type: "warning",
     showCancelButton: true,
     closeOnConfirm: false,
     confirmButtonText: "是的",
     confirmButtonColor: "#ec6c62"
     }, function() {
       $.ajax({
         url: "/ajax/videos/"+ $('#video-id').val(),
         type: "PUT",
         dataType: 'script',
         success: function(){}
       })
     });
  }

  function hideOperations() {
    $('#operate-wrap').html("");
  }
</script>
