<div class="left-sidebar-wrap">
  <div class="left-sidebar">
    <div>
      <%= image_tag 'ddd_01.jpg' %>
      <%= image_tag 'ddd_02.jpg' %>
      <%= image_tag 'ddd_03.jpg' %>
      <%= image_tag 'ddd_04.jpg' %>
    </div>
    <div class="left-sidebar-title">
      基本管理
    </div>
    <div class="left-sidebar-detail">
      <ul>
    		<li><%= link_to '首页', root_path %></li>
      </ul>
    </div>
    <div class="left-sidebar-title">
      战斗机模块
    </div>
    <div class="left-sidebar-detail">
      <ul>
    		<li><%= link_to '列表', admin_battle_planes_path %></li>
    		<li><%= link_to '新建', new_admin_battle_plane_path %></li>
      </ul>
    </div>
    <div class="left-sidebar-title">
      文章模块
    </div>
    <div class="left-sidebar-detail">
      <ul>
        <a href="/admin/articles"><li>列表</li></a>
        <a href="/admin/articles/new"><li>添加文章</li></a>
      </ul>
    </div>
    <div class="left-sidebar-title">
      图片模块
    </div>
    <div class="left-sidebar-detail">
      <ul>
        <a href="/admin/banners"><li>首页顶部图片</li></a>
        <a href="/admin/gallery/fixed_wings"><li>首页固定翼图片</li></a>
        <a href="/admin/gallery/gliders"><li>首页滑翔机图片</li></a>
        <a href="/admin/gallery/helicopters"><li>首页直升机图片</li></a>
        <a href="/admin/gallery/fpvs"><li>首页穿越机图片</li></a>
      </ul>
    </div>
    <div class="left-sidebar-title">
      视频模块
    </div>
    <div class="left-sidebar-detail">
      <ul>
        <a href="/admin/videos"><li>列表</li></a>
        <a href="/admin/videos/new"><li>新建视频</li></a>
      </ul>
    </div>
    <div class="left-sidebar-title">
      用户模块
    </div>
    <div class="left-sidebar-detail">
      <ul>
    		<a href="/admin/users"><li>列表</li></a>
      </ul>
    </div>

  </div>
</div>
