<div class="sidebar">
  <div class="sidebar-top">
    <div class="img">
      <img src="<%= current_user.try(:avatar) || Settings.default_avatar %>" alt="" />
    </div>
    <% if current_user.present? %>
      <div class="user-info">
        <span class="name"><%= link_to current_user.username, user_path(current_user) %></span>
        <div class="message">
          <%= link_to '退出', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>
      <div class="dropdown">
        <ul>
          <li><%= link_to '登录', new_user_session_path %></li>
          <li><span>|</span></li>
          <li><%= link_to '注册', new_user_registration_path %></li>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="nav">
    <ul>
      <li class="active">
        <%= link_to '主页', root_path %>
      </li>
      <li><%= link_to '文章专区', articles_path %></li>
      <li><%= link_to '视频赏析', videos_path %></li>
      <li><%= link_to '浙科院3D全景图', "http://720yun.com/t/48325wbvqcs?pano_id=115693", target: '_blank' %></li>
      <!-- <li><%= link_to '浙科院安吉校区3D全景图', "http://720yun.com/t/98b23w8fy1s?pano_id=164331", target: '_blank' %></li> -->
      <% if current_user.try(:admin?) %>
        <li><%= link_to '后台管理', admin_index_path %></li>
      <% end %>
    </ul>
  </div>
</div>
