<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>RC</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="header">
      <img data-original="/images/top.jpg" alt="" class="background-header lazy" />
      <div class="logo">
        <a href="/"><%= image_tag 'logo.jpg' %></a>
      </div>
    </header>

    <div class="main">
      <div class="content">

        <div class="user-left-wrap">
          <div class="user-left">
            <div class="user-avatar">
              <img src="<%= @user.avatar.present? ? @user.avatar.url : '/images/avatar.png' %>" alt="" />
            </div>
            <p><i class='fa fa-user'></i><%= @user.username %></p>
            <p><i class='fa fa-envelope'></i><%= @user.email %></p>
            <p>
              <a href="/users/<%= @user.id %>"><i class='fa fa-heart'></i>我的收藏</a>
            </p>
          </div>
        </div>

        <div class="user-right-wrap">
          <%= render '/common/flash_messages' %>
          
          <%= yield %>
        </div>

      </div>

      <%= render 'common/setting' %>
    </div>

    <div class="right-sidebar">
      <%= render 'common/right_sidebar' %>
    </div>

  </body>
</html>
