<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>Rc</title>
    <link href="/images/favicon.ico" type="image/x-icon" rel=icon>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="header">
      <%= image_tag 'top.jpg', class: 'background-header' %>
      <div class="logo">
        <a href="/"><%= image_tag 'logo.jpg' %></a>
      </div>

      <div class="tips">
        <ul>
          <% if flash[:alert].present? %>
            <% [flash[:alert]].flatten.each do |alert| %>
              <li><%= alert %></li>
            <% end %>
          <% elsif flash[:notice].present? %>
            <li><%= flash[:notice] %></li>
          <% end %>
        </ul>
      </div>

    </header>

    <div class="main">
      <div class="login-wrap">
        <header>
          <h2 class="explain"><strong>RC</strong>是radio control的简称, 即无线电操纵</h2>
        </header>

        <%= yield %>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    $(function() {
      if($('.tips ul li').length > 0){
        $('.tips').slideDown();
        setTimeout(function() {
          $('.tips').slideUp();
        },3000);
      }
    });
  </script>
</html>
