<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>RC</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="header">
      <%= image_tag 'top.jpg', class: 'background-header' %>
      <div class="logo">
        <a href="/"><%= image_tag 'logo.jpg' %></a>
      </div>
    </header>

    <div class="main">
      <%= render 'common/setting' %>

      <%= render 'common/left_sidebar' %>

      <div class="admin-operate">
        <ul class='breadcrumb' style='margin: 0px 0px 20px 20px;'>
          <%= @page_nav %>
        </ul>

        <div class="main">
          <div id="floatWindow"></div>

          <%= render 'common/flash_messages' %>

          <%= yield %>
        </div>
      </div>
    </div>

    <div class="right-sidebar">
      <%= render 'common/right_sidebar' %>
    </div>

  </body>
</html>
