<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>Rc</title>
    <link href="/images/favicon.ico" type="image/x-icon" rel=icon>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="header">
      <%= image_tag 'top.jpg', class: 'background-header' %>
      <div class="logo">
        <%= image_tag 'logo.jpg' %>
      </div>
    </header>

    <div class="main">
      <div class="content">
        <%= yield %>
      </div>
      <%= render 'common/setting' %>
    </div>

    <div class="right-sidebar-wrap">
      <%= render 'common/right_sidebar' %>
    </div>

  </body>
</html>
