<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>RC</title>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="header">
      <%= image_tag 'top.jpg', class: 'background-header' %>
      <div class="logo">
        <a href="/"><%= image_tag 'logo.jpg' %></a>
      </div>

      <div class="tips">
        <ul>
          <% if flash[:alert].present? %>
            <li><%= [flash[:alert]].flatten.first %></li>
          <% else %>
            <li><%= flash[:notice] %></li>
          <% end %>
        </ul>
      </div>

    </header>

    <div class="main">
      <div class="login-wrap">
        <header>
          <h2 class="explain"><strong>RC</strong>是radio control的简称, 即无线电操纵</h2>
        </header>

        <%= yield %>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    $(function() {
      showMessages();
    });

    function showMessages() {
      if($('.tips ul li').html()){
        $(".tips").animate({height: 40}, 1500);
        setTimeout(function() {
          $(".tips").animate({height: 0}, 1500, emptyMessages);
        }, 5000);
      }
    }

    function emptyMessages() {
      $('.tips').html('');
    }
  </script>
</html>
