<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>RC</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="header">
      <%= image_tag 'top.jpg', class: 'background-header' %>
      <div class="logo">
        <a href="/"><%= image_tag 'logo.jpg' %></a>
      </div>
    </header>

    <div class="main">
      <div class="content">

        <div class="user-left-wrap">
          <div class="user-left">
            <div class="user-avatar">
              <img src="<%= current_user.avatar.url if current_user.present? %>" alt="" />
            </div>
            <p><i class='fa fa-user'></i><%= current_user.username %></p>
            <p><i class='fa fa-envelope'></i><%= current_user.email %></p>
          </div>
        </div>

        <div class="user-right-wrap">
          <div class="user-right">
            <div class="user-nav">
              <a href="/users/<%= current_user.id %>/collections/videos"><i class="fa fa-youtube-play"></i>收藏的视频</a>
              <a href="/users/<%= current_user.id %>/collections/articles"><i class="fa fa-newspaper-o"></i>收藏的文章</a>
            </div>
            <%= yield %>
          </div>
        </div>

      </div>
      <%= render 'common/setting' %>
    </div>

    <div class="right-sidebar">
      <%= render 'common/right_sidebar' %>
    </div>

  </body>
</html>
