<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>Rc</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="main">
      <div class="banner">
        <div class="img">
          <%= image_tag 'top-0.jpg' %>
          <div class="logo">
            <%= image_tag 'logo.jpg' %>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="thumbs">
          <div class="thumb circle">
            <%= image_tag 'nav.jpg' %>
          </div>
          <div class="thumb circle">
            <%= image_tag 'nav.jpg' %>
          </div>
          <div class="thumb circle">
            <%= image_tag 'nav.jpg' %>
          </div>
        </div>

        <%= yield %>

      </div>

      <%= render 'common/foot' %>

      <a href="javascript:void(0)" class="setting">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="sidebar-wrap">
      <%= render 'common/sidebar' %>
    </div>

  </body>
</html>
